[submodule "basic_machines"]
	path = basic_machines
	url = https://github.com/ac-minetest/basic_machines/
[submodule "abripanes"]
	path = abripanes
	url = https://github.com/Ezhh/abripanes
[submodule "ambience"]
	path = ambience
	url = https://notabug.org/TenPlus1/ambience.git
[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil
[submodule "apartment"]
	path = apartment
	url = https://github.com/Sokomine/apartment.git
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas
[submodule "contrib_bakedclay"]
	path = bakedclay
	url = https://github.com/thetaepsilon-gamedev/contrib_bakedclay
	branch = dyefixes
[submodule ".partial_mods/cool_trees"]
	path = .partial_mods/cool_trees
	url = https://github.com/runsy/cool_trees
[submodule "basic_materials"]
	path = basic_materials
	url = https://github.com/mt-mods/basic_materials
[submodule "basic_signs"]
	path = basic_signs
	url = https://github.com/mt-mods/basic_signs
[submodule "bedrock"]
	path = bedrock
	url = https://github.com/Calinou/bedrock
[submodule "beerchat"]
	path = beerchat
	url = https://github.com/minetest-beerchat/beerchat
[submodule "bonemeal"]
	path = bonemeal
	url = https://notabug.org/TenPlus1/bonemeal.git
[submodule "bowlingball"]
	path = bowlingball
	url = https://github.com/thetaepsilon-gamedev/bowlingball
[submodule "bucket_privs"]
	path = bucket_privs
	url = https://github.com/ChaosWormz/bucket_privs.git
[submodule "caverealms_lite"]
	path = caverealms_lite
	url = https://github.com/Ezhh/caverealms_lite.git
[submodule "cblocks"]
	path = cblocks
	url = https://notabug.org/TenPlus1/cblocks
[submodule "cottages"]
	path = cottages
	url = https://github.com/Sokomine/cottages.git
[submodule "currency"]
	path = currency
	url = https://github.com/mt-mods/currency.git
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "digistuff"]
	path = digistuff
	url = https://github.com/mt-mods/digistuff.git
[submodule "dreambuilder_hotbar"]
	path = dreambuilder_hotbar
	url = https://github.com/mt-mods/dreambuilder_hotbar
[submodule "entity-dev-modpack"]
	path = entity-dev-modpack
	url = https://github.com/thetaepsilon-gamedev/entity-dev-modpack.git
[submodule "consolelua"]
	path = consolelua
	url = https://github.com/thetaepsilon-gamedev/consolelua
[submodule "extra_doors"]
	path = extra_doors
	url = https://bitbucket.org/sorcerykid/extra_doors.git
[submodule "farming"]
	path = farming
	url = https://notabug.org/TenPlus1/farming.git
[submodule "fsc"]
	path = fsc
	url = https://github.com/sofar/fsc.git
[submodule "gloopblocks"]
	path = gloopblocks
	url = https://github.com/mt-mods/gloopblocks
[submodule "hangglider"]
	path = hangglider
	url = https://github.com/mt-mods/hangglider
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack
[submodule "ilights"]
	path = ilights
	url = https://github.com/mt-mods/ilights
[submodule "invsaw"]
	path = invsaw
	url = https://github.com/minetest-mirrors/invsaw
[submodule "item_drop"]
	path = item_drop
	url = https://github.com/minetest-mods/item_drop.git
[submodule "letters"]
	path = letters
	url = https://github.com/minetest-mods/letters
[submodule "maptools"]
	path = maptools
	url = https://github.com/minetest-mods/maptools
[submodule "mese_restriction"]
	path = mese_restriction
	url = https://github.com/Ezhh/mese_restriction
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor
[submodule "minetest-devsupport-modpack"]
	path = devsupport
	url = https://github.com/thetaepsilon-gamedev/minetest-devsupport-modpack.git
[submodule "minetest_snippets"]
	path = minetest_snippets
	url = https://gitlab.com/luk3yx/minetest-snippets
