[submodule "basic_machines"]
	path = basic_machines
	url = https://github.com/waxtatect/basic_machines
[submodule "abripanes"]
	path = abripanes
	url = https://github.com/Ezhh/abripanes
[submodule "ambience"]
	path = ambience
	url = https://github.com/minetest-mirrors/ambience.git
[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil
[submodule "apartment"]
	path = apartment
	url = https://github.com/Sokomine/apartment.git
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas
[submodule "bakedclay"]
	path = bakedclay
	url = https://github.com/minetest-mirrors/bakedclay.git
[submodule "cool_trees"]
	path = cool_trees
	url = https://github.com/pandorabox-io/cool_trees.git
[submodule "basic_materials"]
	path = basic_materials
	url = https://github.com/mt-mods/basic_materials
[submodule "basic_signs"]
	path = basic_signs
	url = https://github.com/mt-mods/basic_signs
[submodule "bedrock"]
	path = bedrock
	url = https://github.com/Calinou/bedrock
[submodule "beerchat"]
	path = beerchat
	url = https://github.com/minetest-beerchat/beerchat
[submodule "bonemeal"]
	path = bonemeal
	url = https://github.com/minetest-mirrors/bonemeal.git
[submodule "bowlingball"]
	path = bowlingball
	url = https://github.com/mt-historical/bowlingball
[submodule "bucket_privs"]
	path = bucket_privs
	url = https://github.com/ChaosWormz/bucket_privs.git
[submodule "caverealms_lite"]
	path = caverealms_lite
	url = https://github.com/minetest-mirrors/caverealms_lite.git
[submodule "cblocks"]
	path = cblocks
	url = https://github.com/minetest-mirrors/cblocks.git
[submodule "cottages"]
	path = cottages
	url = https://github.com/mt-mods/cottages.git
[submodule "currency"]
	path = currency
	url = https://github.com/mt-mods/currency.git
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "digistuff"]
	path = digistuff
	url = https://github.com/mt-mods/digistuff.git
[submodule "dreambuilder_hotbar"]
	path = dreambuilder_hotbar
	url = https://github.com/mt-mods/dreambuilder_hotbar
[submodule "entity-dev-modpack"]
	path = entity-dev-modpack
	url = https://github.com/thetaepsilon-gamedev/entity-dev-modpack.git
[submodule "extra_doors"]
	path = extra_doors
	url = https://bitbucket.org/sorcerykid/extra_doors.git
[submodule "farming"]
	path = farming
	url = https://github.com/minetest-mirrors/farming.git
[submodule "fsc"]
	path = fsc
	url = https://github.com/sofar/fsc.git
[submodule "gloopblocks"]
	path = gloopblocks
	url = https://github.com/mt-mods/gloopblocks
[submodule "hangglider"]
	path = hangglider
	url = https://github.com/mt-mods/hangglider
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack
[submodule "ilights"]
	path = ilights
	url = https://github.com/mt-mods/ilights
[submodule "invsaw"]
	path = invsaw
	url = https://github.com/mt-mods/invsaw
[submodule "item_drop"]
	path = item_drop
	url = https://github.com/minetest-mods/item_drop.git
[submodule "letters"]
	path = letters
	url = https://github.com/minetest-mods/letters
[submodule "maptools"]
	path = maptools
	url = https://github.com/minetest-mods/maptools
[submodule "mese_restriction"]
	path = mese_restriction
	url = https://github.com/Ezhh/mese_restriction
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor
[submodule "minetest-devsupport-modpack"]
	path = devsupport
	url = https://github.com/banananaland/devsupport.git
[submodule "minetest_snippets"]
	path = minetest_snippets
	url = https://gitlab.com/luk3yx/minetest-snippets
[submodule "mob_horse"]
	path = mob_horse
	url = https://github.com/minetest-mirrors/mob_horse
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://github.com/minetest-mirrors/mobs_animal
[submodule "mobs_monster"]
	path = mobs_monster
	url = https://github.com/minetest-mirrors/mobs_monster
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://github.com/minetest-mirrors/mobs_redo
[submodule "mobs_water"]
	path = mobs_water
	url = https://github.com/minetest-mirrors/mobs_water
[submodule "mobs_npc"]
	path = mobs_npc
	url = https://github.com/pandorabox-io/mobs_npc
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/minetest-monitoring/monitoring
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores
[submodule "mtui_mod"]
	path = mtui_mod
	url = https://github.com/minetest-go/mtui_mod
[submodule "mt_morcmds"]
	path = mt_morcmds
	url = https://github.com/ChaosWormz/mt_morcmds.git
[submodule "multihome"]
	path = multihome
	url = https://github.com/octacian/multihome
[submodule "names_per_ip"]
	path = names_per_ip
	url = https://github.com/SmallJoker/names_per_ip.git
[submodule "pizza-improved"]
	path = pizza
	url = https://github.com/deezl/pizza-improved
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids
[submodule "portal_entity"]
	path = portal_entity
	url = https://github.com/thetaepsilon-gamedev/portal_entity.git
[submodule "protector"]
	path = protector
	url = https://github.com/mt-mods/protector
[submodule "replacer"]
	path = replacer
	url = https://github.com/mt-mods/replacer
[submodule "signs_lib"]
	path = signs_lib
	url = https://github.com/mt-mods/signs_lib
[submodule "simple_streetlights"]
	path = simple_streetlights
	url = https://github.com/mt-mods/simple_streetlights
[submodule "skinsdb"]
	path = skinsdb
	url = https://github.com/minetest-mods/skinsdb
[submodule "sneak_glitch"]
	path = sneak_glitch
	url = https://github.com/SmallJoker/sneak_glitch.git
[submodule "spectator_mode"]
	path = spectator_mode
	url = https://github.com/minetest-mods/spectator_mode
[submodule "teleport-request"]
	path = teleport-request
	url = https://github.com/minetest-mods/teleport-request.git
[submodule "temp_privs"]
	path = temp_privs
	url = https://github.com/git512/temp_privs.git
[submodule "travelnet"]
	path = travelnet
	url = https://github.com/mt-mods/travelnet/
[submodule "ullapool_caber"]
	path = ullapool_caber
	url = https://github.com/thetaepsilon-gamedev/ullapool_caber
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory
[submodule "unified_inventory_plus"]
	path = unified_inventory_plus
	url = https://github.com/bousket/unified_inventory_plus.git
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://github.com/mt-mods/unifieddyes
[submodule "worldedit"]
	path = worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2
[submodule "xdecor"]
	path = xdecor
	url = https://github.com/minetest-mirrors/xdecor-libre.git
[submodule "mtt"]
	path = mtt
	url = https://github.com/BuckarooBanzay/mtt
[submodule "mapserver_mod"]
	path = mapserver_mod
	url = https://github.com/minetest-mapserver/mapserver_mod
[submodule "morelights"]
	path = morelights
	url = https://github.com/random-geek/morelights/
[submodule "otp"]
	path = otp
	url = https://github.com/mt-mods/otp
[submodule "mesecons_protected_switch"]
	path = mesecons_protected_switch
	url = https://github.com/pandorabox-io/mesecons_protected_switch
[submodule "mesecons_protected_button"]
	path = mesecons_protected_button
	url = https://github.com/pandorabox-io/mesecons_protected_button
[submodule "mail"]
	path = mail
	url = https://github.com/mt-mods/mail.git
[submodule "xcompat"]
	path = xcompat
	url = https://github.com/mt-mods/xcompat/
